/* Votre Style */
#header,footer {
    box-shadow: 0.2em 0.2em 1em #bbb;
    background-color: #DCDCDC;
}

a.header, a.footer {
    text-decoration: none;
}

a.header:hover, a.footer:hover {
    text-shadow:0em 0em 0.41em #aaa;
}

#img {
    width: 100px;
    border : 1em;
    box-shadow: 0.5em 0.5em 2em #aaa;
}

#detailBox {
  width: 100%;
}
.content {
    /*box-shadow: 0em 0em 1em #aaa;*/
}

#main {
    padding:0.25em 0em 0em 0em;
}

.inDescr {
    width: 40em;
}
