/* Votre Style */
#header,footer {
    box-shadow: 0.2em 0.2em 1em #bbb;
    background-color: #ccc !important;
}

a.header, a.footer {
    text-decoration: none;
    style : none;
}

a:hover, a:hover {
    text-shadow:0em 0em 0.41em #aaa;
}

a:link, a:visited, a:visited {
    color:#0055C5;
    text-decoration:none;
}

a:hover, a:focus, a:active {
    color:#000873;
}

#img {
    width: 100px;
    border : 1em;
    box-shadow: 0.5em 0.5em 2em #aaa;
}

#detailBox {
  width: 100%;
}
.content {
    /*box-shadow: 0em 0em 1em #aaa;*/
}

#main {
    padding:0.25em 0em 0em 0em;
}

.inDescr {
    width: 40em;
}

span.alignRight {
    text-align:right;
    margin:0 0 0 100%;
}

alignCenter {
    text-align:center;
}

#addfile {
    display: none;
}

.test02 {
}

.in {
    display: inline;
}
.bl {
    display: block;
}
.inbl {
    display: inline-block;
}
