/* Votre Style */
#header,footer {
    box-shadow: 0.2em 0.2em 1em #bbb;
    background-color: #DCDCDC;
}

a.header, a.footer {
    text-decoration: none;
}

a.header:hover, a.footer:hover {
    text-shadow:0em 0em 0.41em #aaa;
}

#img {
    width: 100px;
    border : 1em;
    box-shadow: 0.5em 0.5em 2em #aaa;
}

#detailBox {
  width: 100%;
}
.content {
    /*box-shadow: 0em 0em 1em #aaa;*/
}

#main {
    padding:0.25em 0em 0em 0em;
}

.inDescr {
    width: 40em;
}

.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:65px;
	width:131px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.btn:active {
	position:relative;
	top:1px;
}

ul {
    padding:0;
    margin:0;
    background-color:#cccccc;
}

li {
    position:relative;
    /*z-index:1;*/
    overflow:hidden;
    list-style:none;
    padding:0;
    margin:0 0 0.25em;
    width: 100%;
    background-color:#d3d3d3;
}

li .filename {
    padding-left:28px;
}

li a:link,
li a:visited {
    display:inline;
    border:0;
    padding-left:28px;
    color:#c55500;
}

li a:hover,
li a:focus,
li a:active {
    color:#730800;
    background:transparent;
}

li:before,
li:after,
li a:before,
li a:after {
    content:"";
    position:absolute;
    top:50%;
    left:0;
}

li a:before,
li a:after {
    margin:-8px 0 0;
    background:#c55500;
}

li a:hover:before,
li a:focus:before,
li a:active:before {
    background:#730800;
}
.download a:before {
    width:14px;
    height:8px;
    border:3px solid #c55500;
    border-top:0;
    margin-top:-5px;
    background:transparent;
}

.download a:after {
    left:5px;
    border-width:5px 5px 0;
    border-style:solid;
    border-color:#c55500 transparent;
    margin-top:-5px;
    background:transparent;
}

.download a:hover:before,
.download a:focus:before,
.download a:active:before {
    border-color:#730800;
    background:transparent;
}

.download a:hover:after,
.download a:focus:after,
.download a:active:after {
    border-color:#730800 transparent;
}
